/**
 * layout.less
 * Layout styles
 */

html,
body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}
