/**
 * cards.less
 * Styles for event cards
 */

.event-cards-wrapper {
  flex: 1;
  position: relative;

  .event-cards-grid {
    bottom: 0;
    display: grid;
    grid-auto-rows: 25em;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    left: 0;
    overflow: auto;
    position: absolute;
    padding: 1em;
    right: 0;
    top: 0;

    .event-card {
      opacity: 1;
      transition: 0.25s;

      .header {
        display: flex;
        height: 15em;
        padding: 0;
      }

      .body {
        display: flex;
        flex-direction: column;

        .description {
          &:extend(.text-ellipsis-cutoff);
        }

        .title {
          &:extend(.text-ellipsis-cutoff);
        }
      }

      &:hover {
        box-shadow: 0.1em 0.1em 0.2em;
        cursor: pointer;
        opacity: 0.6;
      }
    }
  }
}
