/**
 * eventDetails.less
 * Styles for event details form
 */

.event-details-form-wrapper {
  flex: 1;
  padding: 1em;

  input {
    transition: 0.25s;

    &:not([disabled]) {
      background-color: transparent;
    }
  }

  .update-header {
    display: flex;
    padding-bottom: 1em;

    .left {
      display: flex;
      flex: 1;
    }
  }
}
